select {
    padding: 0.44rem;
    border-radius: 0.2rem;
    border: none;
    background-color: white;
}

.row--first select {
    border-radius: 0 0.2rem 0.2rem 0;
}

select:focus   {
    border: none;
    outline: none;
}